@use '../base'as *;

.fullImg {
    background-size: cover;
    background-position: center center;
    margin: 90px 0;
    height: 600px;
}

@media (max-width: 1330px) {
    .fullImg {
        margin: 60px 0;
    }
}

@media (max-width: 768px) {
    .fullImg {
        margin: 55px 0;
    }
}

.fullImg--v2 {
    background-color: $black;
    margin-bottom: 0;
    height: 100%;

    .fullImg {

        &__container {
            @include container;
            height: 100%;
        }
        
        &__img {
            height: 540px;
            width: 100%;
            display: inline-block;

            img {
                height: 100%;
                width: 100%;
                
                object-fit: cover;
                object-position: center center;
            }
        }

    }


}

@media (max-width: 1200px) {
    .fullImg--v2 .fullImg__img {
        height: 450px;
    }
}

@media (max-width: 768px) {
    .fullImg--v2 .fullImg__img {
        height: 400px;
    }
}

@media (max-width: 450px) {
    .fullImg--v2 .fullImg__img {
        height: 350px;
    }
}