/* ---------- Colors ---------- */
$black: #020005;
$white: #FFFFFF;
$copy: #141414;


/* ---------- Spacing ---------- */

$space-s: 1rem;
$space-m: 1.5rem;
$space-l: 2rem;
$space-xl: 4rem;
$space-xxl: 5rem;